@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* ========== THEME ========== */
:root {
  --clr-text-primary: 180deg, 3%, 6%;
  --clr-text-secondary: 0deg, 0%, 100%;
  --clr-accent: 43deg, 78%, 57%;
  --clr-primary: 217deg, 91%, 60%;
  --clr-secondary: 210deg, 25%, 91%;

  --ff-primary: 'Roboto', sans-serif;
  
  --fw-regular: 300;
  --fw-bold: 500;

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-450: 1.125rem;
  --fs-600: 1.5rem;
  --fs-800: 2rem;
}

/* ========== CSS RESET ========== */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ========== UTILITY CLASSES ========== */
.container {
  padding: 1rem 0.5rem;
}
.animation-off {
  transition: none !important;
}
.hidden {
  display: none !important;
}
/* ========== GENERAL STYLING ========== */
body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  color: hsl(var(--clr-text-primary));
  background-color: hsl(var(--clr-secondary));
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
.icon {
  display: inline-block; /* ??????? */
  width: 2rem;
  padding-inline: 0.25rem;
  border: none;
  background-color: transparent;
}
.icon path {
  fill: hsl(var(--clr-text-primary));
}
.avatar {
  width: 2rem;
  border-radius: 50%;
}
.action {
  border: none;
  background-color: hsl(var(--clr-primary));
  color: hsl(var(--clr-text-secondary));
  border-radius: 1rem;
  padding: 0.25rem 1rem;
}
.action:hover {
  color: hsl(var(--clr-primary));
  background-color: hsl(var(--clr-accent));
}
@media (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: min(25%, 20rem) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'menu header'
      'menu main';
    height: 100vh;
  }
}
/* ========== HEADER ========== */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: grid;
  gap: 2rem;
  font-weight: var(--fw-bold);
  background-color: hsl(var(--clr-text-secondary));
  box-shadow: 0 0 10px 5px hsl(var(--clr-text-primary), 0.25);
  grid-area: header;
}
.top-bar {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
}
.search-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  background-color: hsl(var(--clr-text-secondary));
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}
.search-container-show {
  transform: translateY(0);
}
.search {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  width: min(90%, 30rem);
  padding: 0.5rem;
  border: 1px solid hsl(var(--clr-text-primary), 0.25);
  border-radius: 2rem;
}
.search input {
  border: none;
  font-weight: var(--fw-regular);
  outline: none;
  width: 100%;
}
.top-bar--user {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.25rem;
  align-items: center;
}
.bottom-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.header-greetings {
  display: none;
  font-size: var(--fs-450);
}
.header-greetings .avatar {
  width: 3rem;
}
.header-action-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 1rem;
}
@media (min-width: 600px) {
  .top-bar {
    grid-template-columns: auto 1fr auto auto;
    column-gap: 0.5rem;
  }
  .search-button {
    display: none;
  }
  .search-container {
    position: relative;
    justify-items: start;
    transform: none;
  }
  .search {
    padding: 0 0.5rem;
  }
  .search-close {
    display: none;
  }
  .bottom-bar {
    justify-content: space-between;
  }
  .header-greetings {
    display: grid;
    grid-auto-flow: column;
    column-gap: 0.5rem;
  }
  .header-greetings span {
    display: block;
    font-size: var(--fs-300);
  }
}
@media (min-width: 900px) {
  .top-bar {
    grid-template-columns: 1fr auto auto;
  }
  .menu-button {
    display: none;
  }
}
/* ========== SIDE MENU ========== */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 2rem;
  align-content: start;
  padding: 1rem;
  background-color: hsl(var(--clr-primary));
  color: hsl(var(--clr-text-secondary));
  font-weight: var(--fw-bold);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}
.side-menu-show {
  transform: translateX(0);
  overflow: hidden;
}
.side-menu svg path {
  fill: hsl(var(--clr-text-secondary));
}
.side-menu-header,
.side-menu li a {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 3rem 1fr auto;
  justify-content: start;
  align-items: center;
}
.side-menu-header h1 {
  font-weight: var(--fw-bold);
}
.side-menu li:hover {
  color: hsl(var(--clr-accent));
}
.side-menu li:hover svg path {
  fill: hsl(var(--clr-accent));
}
.side-menu-header .icon {
  width: 3rem;
}
.side-menu ul {
  display: grid;
  row-gap: 1rem;
  list-style: none;
  padding: 0;
}
.side-menu ul .icon {
  justify-self: center;
}
.side-menu ul li:nth-child(6) {
  margin-bottom: 2rem;
}
@media (min-width: 900px) {
  .side-menu {
    position: relative;
    grid-area: menu;
    transform: none;
  }
  .side-menu .menu-close {
    display: none;
  }
  .header {
    grid-area: header;
  }
}

main {
  grid-area: main;
  overflow-x: hidden;
}
/* ========== PROJECTS SECTION ========== */
.projects header {
  display: grid;
  grid-template-columns: 1fr auto;
}
.projects h2 {
  font-size: var(--fs-450);
  font-weight: var(--fw-bold);
}
.projects ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow: hidden;
  column-gap: 1rem;
  margin-top: 0.5rem;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}
.project-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-width: 16rem;
  height: 100%;
  padding: 1rem;
  background-color: hsl(var(--clr-text-secondary));
  border-left: 0.5rem solid hsl(var(--clr-accent));
  border-radius: 0.5rem;
}
.project-card h3 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}
.project-card-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 1rem;
  margin-top: 1rem;
}
@media (min-width: 600px) {
  .projects ul {
    grid-auto-columns: calc(100% / 2 - 0.5rem);
  }
}